In [12]:
import pandas as pd
import numpy as np

In [2]:
user_id = np.random.randint(1,100,size=(10000,1))
article_id = np.random.randint(1,10000,size=(10000,1))
article_type = article_id%8
data = np.concatenate([user_id,article_id,article_type],axis = -1)
data

array([[  70,   40,    0],
       [  10, 1111,    7],
       [  43, 1095,    7],
       ...,
       [  28, 8840,    0],
       [  46, 4625,    1],
       [  81, 3798,    6]])

In [3]:
df_data = pd.DataFrame(data,columns=['user_id','article_id','article_type'])
df_data

      user_id  article_id  article_type
0          70          40             0
1          10        1111             7
2          43        1095             7
3          40        7762             2
4          58         576             0
...       ...         ...           ...
9995       26          95             7
9996       44        7037             5
9997       28        8840             0
9998       46        4625             1
9999       81        3798             6

[10000 rows x 3 columns]

In [4]:
df_data

      user_id  article_id  article_type
0          70          40             0
1          10        1111             7
2          43        1095             7
3          40        7762             2
4          58         576             0
...       ...         ...           ...
9995       26          95             7
9996       44        7037             5
9997       28        8840             0
9998       46        4625             1
9999       81        3798             6

[10000 rows x 3 columns]

In [37]:
users = df_data.user_id.unique().shape[0]
news = df_data.article_id.unique().shape[0]

IndexError: index 7761 is out of bounds for axis 1 with size 6293

In [23]:
from sklearn import preprocessing
onehot=preprocessing.LabelBinarizer()

feature_id = onehot.fit_transform(df_data.article_id)
feature_type = onehot.fit_transform(df_data.article_type)

,user_id,0,1,2,3,4,5,6,7,8,...,6291,6292,0,1,2,3,4,5,6,7
0,70,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,43,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,40,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,58,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9996,44,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9997,28,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9998,46,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9999,81,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [50]:
from sklearn.model_selection import train_test_split
train_data,test_data = train_test_split(df_data,test_size=0.25)

train_data_matrix = np.zeros((users,news ))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3]

In [ ]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(data, metric='cosine')