In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import os,gc,re,warnings,sys

In [65]:
user_id = np.random.randint(1,200,size=(2000,1))

click_article_id = np.random.randint(1,1000,size=(2000,1))
click_timestamp = np.random.randint(100000,999999,size=(2000,1))
click_article_at_ts = click_article_id*333%100
data= np.concatenate([user_id,click_article_id,click_article_id%8,click_timestamp,click_article_at_ts],axis=-1)

In [66]:
trn_click = pd.DataFrame(data,columns=["user_id",'click_article_id','category_id','click_timestamp','click_article_at_ts'])
trn_click

,user_id,click_article_id,category_id,click_timestamp,click_article_at_ts
0,197,842,2,192289,86
1,110,232,0,587082,56
2,3,189,5,290347,37
3,56,792,0,279546,36
4,149,323,3,149229,59
...,...,...,...,...,...
1995,11,150,6,554954,50
1996,112,41,1,656676,53
1997,73,69,5,881140,77
1998,26,865,1,729887,45
1999,45,861,5,933370,13

In [55]:
max_min_scaler = lambda x : (x-np.min(x))/(np.max(x)-np.min(x))
#对时间戳进行归一化
trn_click['click_timestamp'] = trn_click[['click_timestamp']].apply(max_min_scaler)

trn_click

      user_id  click_article_id  category_id  click_timestamp
0         128               896            0         0.294216
1          57               139            3         0.334839
2         133               115            3         0.267670
3         149               113            1         0.647612
4         133                63            7         0.299837
...       ...               ...          ...              ...
1995      133               371            3         0.672531
1996       84               172            4         0.893976
1997        3               351            7         0.119021
1998       16               600            0         0.775634
1999       64               514            2         0.526817

[2000 rows x 4 columns]

In [58]:
#获取用户历史点击文章类型的集合
user_hist_item_tupes = trn_click.groupby('user_id')['category_id'].agg(set).reset_index()
user_hist_item_tupes_dict = dict(zip(user_hist_item_tupes['user_id'], user_hist_item_tupes['category_id']))

In [64]:
#获取user_id对应的用户点击文章的集合
user_hist_item_ids = trn_click.groupby('user_id')['click_article_id'].agg(set).reset_index()
user_hist_item_ids_dict = dict(zip(user_hist_item_ids['user_id'],user_hist_item_ids['click_article_id']))

In [ ]:
#获取user_id对应的用户历史点击的文章的平均字数字典

In [68]:
#获取user_id对应的用户最后一次点击的文章的创建时间
trn_click = trn_click.sort_values('click_timestamp')
user_last_news_created_time = trn_click.groupby('user_id')['creat_at_ts'].apply(lambda x:x.iloc[-1]).reset_index()

KeyError: 'Column not found: creat_at_ts'